<footer class="flex-col" id="footer-wrapper">
    <div class="primary-footer flex-center">
        <div class="container row-x1">
            <div class="starter-preview-about-section flex-sb section" id="starter-preview-about-section" name="About Section">
                <div class="widget Image flex-sb" data-version="2" id="Image101">
                    <a class="footer-logo custom-image" href="javascript:void(0)" rel="home">
                        <img alt="#" data-dark-src="assets/logo_dark.png" data-src="assets/logo.png" height="80" id="Image101_img" [src]="isDark ? 'assets/images/logo_dark.png' : 'assets/images/logo.png'" width="266" />
                    </a>
                    <div class="footer-info">
                        <p class="image-caption excerpt">
                            Bank Cyber Fraud Awareness App
                        </p>
                    </div>
                </div>
                <div class="widget LinkList" data-version="2" id="LinkList101">
                    <ul class="social-icons social social-bg-hover">
                        <li class="facebook link-0">
                            <a alt="facebook" class="fa-facebook btn" href="javascript:void(0)" rel="noopener noreferrer" target="_blank" title="facebook"></a>
                        </li>
                        <li class="twitter link-1">
                            <a alt="twitter" class="fa-twitter btn" href="javascript:void(0)" rel="noopener noreferrer" target="_blank" title="twitter"></a>
                        </li>
                        <li class="youtube link-2">
                            <a alt="youtube" class="fa-youtube btn" href="javascript:void(0)" rel="noopener noreferrer" target="_blank" title="youtube"></a>
                        </li>
                        <li class="pinterest link-3">
                            <a alt="pinterest" class="fa-pinterest btn" href="javascript:void(0)" rel="noopener noreferrer" target="_blank" title="pinterest"></a>
                        </li>
                        <li class="rss link-4">
                            <a alt="rss" class="fa-rss btn" href="javascript:void(0)" rel="noopener noreferrer" target="_blank" title="rss"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar flex-center">
        <div class="container row-x1 flex-sb">
            <div class="footer-copyright" id="footer-copyright">
                <span class="copyright-text">Design by - <a href="javascript:void(0)"  title="Divine Mark">Mohammed Idris</a></span>
            </div>
            <div class="footer-menu section" id="footer-menu" name="Footer Menu">
                <div class="widget LinkList" data-version="2" id="LinkList102">
                    <ul class="link-list">
                        <li><a href="/" (click)="link('./home',$event)">Home</a></li>
                        <li><a href="/" (click)="link('./pages/aboutus',$event)">About</a></li>
                        <li><a href="/" (click)="link('./pages/contactus',$event)">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
