<div id="outer-wrapper">
  <app-header></app-header>
  <ion-content style="min-height: 100vh !important" id="main">
    <!-- Header -->
    <div
      class="flex-center"
      id="content-wrapper"
      style="margin-top: 68px !important"
    >
      <div class="container row-x1 flex-sb" style="transform: none">
        <main id="main-wrapper">
          <div class="main section" id="main">
            <div class="widget Blog flex-col" data-version="2" id="Blog1">
              <div
                class="blog-posts index-post-wrap flex-col"
                *ngIf="items && items?.length > 0 && !isLoading"
              >
                <article
                  *ngFor="let x of items; let i=index"
                  class="blog-post hentry index-post post-{{i}}"
                >
                  <div class="entry-header">
                    <h2 class="entry-title">
                      <a
                        [routerLink]="'../../details/'+x.pid"
                        rel="bookmark"
                        [title]="x.posttitle"
                        >{{x.posttitle}}</a
                      >
                    </h2>
                    <div class="entry-meta">
                      <span class="entry-author mi"
                        ><span class="by sp">by</span>
                        <span class="author-name"> Mohammed Idris </span>
                      </span>
                      <span class="entry-time mi">
                        <span class="sp">&#8226;</span>
                        <time class="published" [attr.datetime]="x.postdate"
                          >{{x.postdate | date:'MMMM dd, yyyy'}}</time
                        >
                      </span>
                    </div>
                  </div>
                  <div class="entry-content">
                    <a
                      class="entry-image-wrap is-image"
                      [routerLink]="'../../details/'+x.pid"
                      [title]="x.posttitle"
                    >
                      <span
                        class="entry-image pbt-lazy"
                        [attr.data-image]="x.postimage"
                        style="background-image: url({{x.postimage}});"
                      ></span>
                    </a>
                    <p
                      class="entry-excerpt excerpt"
                      [innerHTML]="x.postdetails"
                    ></p>
                  </div>
                </article>
              </div>
              <div
                class="blog-posts item-post-wrap flex-col"
                *ngIf="(!items || items?.length === 0) && !isLoading"
              >
                <article class="blog-post hentry item-post flex-col">
                  <div class="item-post-inner flex-col">
                    <div class="entry-header p-eh flex-col"></div>
                    <div class="entry-content-wrap flex-col">
                      <div
                        class="post-body entry-content ion-text-center"
                        id="post-body"
                      >
                        <h3 class="">Data not found...</h3>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="blog-posts item-post-wrap flex-col" *ngIf="isLoading">
                <article class="blog-post hentry item-post flex-col">
                  <div class="item-post-inner flex-col">
                    <div class="entry-header p-eh flex-col"></div>
                    <div class="entry-content-wrap flex-col">
                      <div
                        class="post-body entry-content ion-text-center"
                        id="post-body"
                      >
                        <div class="loader"></div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              <div
                class="blog-pager"
                id="blog-pager"
                *ngIf="isReadMore && !isLoading"
              >
                <a
                  class="blog-pager-older-link load-more btn"
                  (click)="loadMore()"
                  href="javascript:void(0)"
                  id="loadMore"
                >
                  Load More
                </a>
                <span class="loading"><div class="loader"></div></span>
              </div>
            </div>
          </div>
        </main>
        <app-aside></app-aside>
      </div>
    </div>
    <!-- Footer Wrapper -->
    <app-footer></app-footer>
  </ion-content>
</div>
<!-- Mobile Menu and Back Top -->
<app-mobile></app-mobile>
